<div class="page-header">
  <h1 class="mx-3">Comprar</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {{# if admin }}
        <li class="nav-item">
          <a class="nav-link" href="/session/inputProduct">Editar Productos</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/session/logout">Salir</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid mb-2 mb-lg-0 ">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{avatar}} class="img-fluid rounded-start" alt="Foto de Perfil">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{user}}</h5>
          <p class="card-text">Selecciona los productos a comprar</p>
          {{# if message}}
          <p class="card-text text-success mx-4">{{message}}</p>
          {{/if}}
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>



{{# if products }}
{{!-- <template id="template-card"> --}}
  
  {{!-- <div class="card-group">
    
    
    <div class="col-12 mb-2 col-md-4"> --}}

  {{# each products }}
  <div class="row  g-4">
    {{# each this }}
    <div class="col"-sm-6 col-md-4>
      <div class="card">
        <img src={{this.thumbnail}} alt={{this.name}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">${{this.price}}</p>
          <p class="card-text text-muted">{{this.description}}</p>
        </div>
        <div class="card-footer">
          <a href="/carts/{{this.userId}}/products/{{this._id}}" class="btn btn-dark btn-sm" role="button">Agregar al carrito</a>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
  {{/each}}
  {{!--
</template> --}}
{{ else }}
<p>No hay productos cargados</p>
{{/if}}